:root {
    --main-color: #e83c3c;
    --tag-color: #0c73c2;
    --light-bg-color: #f9f9f9;
    --light-main-color: #000;
    --light-text-color: #16181c;
    --light-aside-bg-color: #f9f9f9;
    --light-footer-bg-color: #f9f9f9;
    --light-icon-active-color: #2d8cf0;
    --light-text-tint: #2d8cf0;
    --light-hover-bg-color: #f9f9f9;
    --dark-bg-color: #16181c;
    --dark-main-color: #fff;
    --dark-aside-bg-color: #191b1f;
    --dark-header-bg-color: #202023;
    --dark-footer-bg-color: #212124;
    --dark-text-color: #ccc;
    --dark-border-active-color: #b82525;
    --dark-article-color: #fff;
    --dark-icon-active-color: #b82525;
    --dark-block-bg-color: #26282c;
    --dark-table-stripe-color: #1a1c20;
    --dark-border-color: #23262c;
    --dark-text-tint: #b82525;
    --dark-hover-bg-color: #232529;
    --green-bg-color: #3eb874;
    --green-main-color: #3eb874;
    --green-text-color: #f6f6f6;
    --green-aside-bg-color: #f9f9f9;
    --green-footer-bg-color: #f6f6f8;
    --green-icon-active-color: #3eb874;
    --green-text-tint: #3eb874;
    --green-hover-bg-color: #f9f9f9;
    --table-stripe-color: #f9f9f9;
    --animation-base-time: .4s;
}
:root {
    --animation-linear: linear;
    --animation-ease: ease;
    --animation-ease-in: ease-in;
    --animation-ease-out: ease-out;
    --animation-ease-in-out: ease-in-out;
    --animation-base-time: .4s;
    --primary: #2d8cf0;
    --joker: #009688;
    --info: #01aaed;
    --success: #19be6b;
    --warning: #ffb800;
    --error: #ff5722;
    --default: #fff;
    --dashed: #fff;
    --text: #fff;
    --bg-color: #eaeef2;
    --nav: #393d49;
    --sidebar: #2f4056;
    --text-color: #515a6e;
    --text-title: #17233d;
    --text-bold: #1f4e79;
    --text-bg-dark: #585e6b;
    --text-bg-info: #f0faff;
    --text-bg-success: #edfff3;
    --text-bg-warning: #fff9e6;
    --text-bg-error: #ffefe6;
    --border-tint: #767676;
    --border: #dcdfe6;
    --border-tt: #e8eaec;
}